<% t1 = Time.current %>
      <% sleep(3) %>
      <% t2 = Time.current %>
      <p><%= t2-t1 %></p>

<% if flash[:notice] %>
   <%= flash[:notice] %>
<% end %>

<% @tweets.each do |tweet| %>
  <p>
      <%= link_to tweet.message, tweet.message %>
      <%= link_to '削除', "tweets/#{tweet.id}", method: :delete %>
      <%= link_to '編集', "tweets/#{tweet.id}/edit" %>
  </p>
<% end %>

<p><%= link_to '新規追加', 'tweets/new' %></p>