<%= form_for @tweet, message: {action: :create} do |f| %>
  <%= f.labal :message, 'メッセージ' %>
  <%= f.text_field :message %>
  
  <%= f.labal :tdate, '日付' %>
  <%= f.text_field :tdate %>
  
  <%= f.submit '登録' %>
<% end %>